body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:link{
  text-decoration: none;
}
*::-webkit-scrollbar{
  display: none;
  height: 100px;
}
.nav-list::-webkit-scrollbar{
  display: block !important;
  width: 8px;
}
.nav-list::-webkit-scrollbar-thumb {
  /* height: 100px; */
  background: #40D589;
  border-radius: 8px;
}

.nav-list::-webkit-scrollbar-track {
  height: 100px;
  /* background: #40D589;
  border-radius: 8px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  display: flex;
}

.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 5;
  background-color: #FFE475;
  padding: 0px 20px;
  gap: 20px;
  position: sticky;
  height: 100px;
}
.nav{
  position: sticky;
  top:100px;
  width: 25%;
  z-index: 2;
  height: 100%;
  background-color: #FFFFFF;
}
.feed{
  width: 75%;
  /* padding: 10px; */
}

.nav-list{
  overflow-y: scroll;
  height: 100vh;
}

.logo{
  font-weight: 700;
  font-size: 30px;
}

.navcart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  gap: 5px;
  width: 77px;
  height: 34px;
  background: #FFFFFF;
}

.navbar-list{
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 110%;
  
}

.product{
  display: flex;
  overflow-x: scroll;
}

.img{
  position: relative;
}

.btn-cart{
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #40D589;
  border-radius: 50%;
  font-size: 30px;
  color: white;
}

section{
  overflow-y: scroll;
}

.section{
  padding:0px 15px;
  font-weight: 700;
  font-size: 24px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 5px;
}

.price{
  font-weight: 700;
  font-size: 14px;
  color: #100E3A;
}

.name{
  font-weight: 600;
  font-size: 16px;
  color: #100E3A;
}

.weight{
  font-weight: 600;
  font-size: 14px;
  color: #B6BAC3;
}


@media screen and (max-width:600px){
  .flex{
    display: flex;
    flex-direction: column;
  }
  .nav,.feed{
    width: 100%;
  }
  .nav{
    top: 80px;
  }
  .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    overflow-x: scroll;
  }
  .topnav{
    height: 80px;
  }
  .navbar-list{
    line-height: 100%;
  }
  .nav-list::-webkit-scrollbar{
    display: none !important;
    width: 8px;
  }
}